:root{
    --griffindor: #4D0505;
    --yellor-potter: #F3C01B;
    --negro-texto: #2b2b2b;
    --transition-red: #bd0508;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/* estilos header */

.header-container{
    max-width: 1150px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-elements{
    display: grid;
    grid-template-rows:(1fr);
    list-style: none;
    text-transform: uppercase;
    align-items: center;
}
.nav-elements li{
    grid-row: 1;
}
.nav-elements li:nth-of-type(1){
    grid-column: 4;
}
.nav-e{
    margin: 15px;
    font-size: 1.3rem;
    color: var(--negro-texto);
    letter-spacing: 2px;
    position: relative;
}
.nav-e:hover{
    color: var(--transition-red);
}
.nav-e::after{
    content: "";
    background-color: var(--transition-red);
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transform: scaleX(0);
    transition: .25s linear;
}
.nav-e:hover::after{
    opacity: .8;
    transform: scaleX(1);
}
.store-button > a{
    padding: 8px 12px;
    border: 2px solid var(--yellor-potter);
    border-radius: 10px;
    background-color: var(--griffindor);
    color: var(--yellor-potter);
    font-size: 1.3rem;
}
.store-button > a:hover{
    border: 2px solid var(--negro-texto);
    background-color: var(--yellor-potter);
    color: var(--griffindor);
}
.open-menu, .close-menu{
    display: none;
}
@media (max-width: 958px){
    .logo{
        margin-left: 15px;
    }
    .nav-elements{
        display: flex;
        flex-direction: column; 
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        padding: 80px 0 0 15px;
        max-width: 360px;
        height: 100%;
        align-items: flex-start;
        background-color: #fff;
        overflow-y: auto;
        border-right: 0.5px solid grey;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .nav-e{
        margin: 0;
        margin-right: 40px;
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--griffindor);
        letter-spacing: 1px;
        line-height: 35px;
    }
    .store-button{
        margin-bottom: 15px;
    }
    .open-menu, .close-menu{
        display: block;
    }
    .close-menu{
        margin-top: -70px;
        margin-bottom: 70px;
        padding: 0 10px;
        align-self: flex-end;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    .open-menu{
        position: absolute;
        right: 0;
        margin: -47px 15px 0 0;
        padding: 0 10px;
        border-radius: 5px;
        background-color: #fff;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }
}
/* section 1     */
.wallpaper{
    width: 100%;
    height: 700px;
    background-color: red;
    
}
.image_container{
    width: 100%;
    height: 100%;
    background-image: url(../assets/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* section 2 */
.description_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description-box{
    padding: 0 50px;
    margin-top: 50px;
}
.description-box h2{
    font-size: 2rem;
}
.description-box p{
    font-size: 1.6rem;
    font-weight: 300;
}

.description-box .icon img{
    width: 50px;
}
@media(min-width:760px){
    .description_container{
        flex-direction: row;
        max-width: 1150px;
        margin: 0 auto;
    }
}

/* section 3 */

.blog{
    padding: 20px;
    background-color: #eef0ed;
}
.blog_container{
    max-width: 750px;
    margin: 0 auto ;
}
.blog_container-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-container img{
    width: 100%;
}
.blog_container-text{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding:40px;   
    flex-wrap: wrap;
}
.blog_container-text h2{
    font-size: 3rem;
    margin-top: 0;
}
.blog_container-text p{
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 25px; 
}
.blog_button{
    background-color: var(--yellor-potter);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.blog_button a{
    font-size:1.6rem ;
    font-weight: 500;
    color: var(--negro-texto);
}
@media(min-width:800px){
    .blog_container{
        max-width: 1150px;
    }  
    .blog_container-row{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .img-container{
        align-self: center;
    }
    .hufflepuff{
        width: 100%;
        display: grid;
        grid-template-rows:(1fr);
    }
    .hufflepuff div:nth-of-type(2){
        grid-row: 1;
    }
    .blog_button{
        width: 160px;
        align-self: center;
        cursor: pointer;
    }
    .blog_button a{
        font-size:1.6rem ;
        font-weight: 500;
        color: var(--negro-texto);
    }
    .blog_button:hover{
        background-color: #2b2b2b;
    }
    .blog_button:hover a{
        color: #fff;
    }   
}

/* seccion 4 */

.socialm{
    padding: 20px;
    background-color: var(--yellor-potter);
}
.socialm-container{
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.socialm_container-img img{
    width: 100%;
}
.socialm_container-text{
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-wrap: wrap;
}
.socialm_container-text h2{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 0;
    color: var(--griffindor);
}
.socialm_container-text p{
    font-size: 1.6rem;
    line-height: 2;
    color: var(--griffindor);
}
.socialm_button{
    max-width: 750px;
    margin-top: 20px;
    background-color: var(--griffindor);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.socialm_button{
    
}
.socialm_button a{
    font-size: 1.6rem;
    color: var(--yellor-potter);
}
@media(min-width:800px){
    .socialm-container{
        max-width: 1150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px auto ;
        align-items: center;
    }
    .socialm_container-text p{
        line-height: 1.5;
    }
    .socialm_button{
        width: 240px;
        align-self: center;
        cursor: pointer;
    }
    .socialm_button:hover{
        background-color: #2b2b2b;
    }
    .socialm_button:hover a{
        color: #fff;
    }   
}

/* seccion 5 */
.youtube{
    padding: 40px;
}
.youtube_container{
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.youtube-suscribe{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--griffindor);
}

.youtube-button{
    width: 240px ;
    height: 50px;
    margin: auto;
    background-color: var(--griffindor);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.youtube-button a{
    color: #fff;  
}
.youtube-img{
    margin-top: 20px;
}
.youtube-img img{
    width: 100%;
}
@media(min-width:800px){
    .youtube_container{
        max-width: 1150px; 
    }
    .youtube-button{
        margin-top: 20px;
    }
    .youtube-img{
        max-width: 750px;
        margin: 20px auto;
    }
    .youtube-img img{
        width: 100%;
    }   
}
/* FOOTER */

footer{
    padding: 80px 20px;
    background-color: var(--griffindor);
}
.store_footer{
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.store_footer h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}
.store_footer p{
    font-size: 2rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer_button{
    max-width: 750px;
    margin-top: 20px;
    background-color: var(--yellor-potter);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.footer_button a{
    font-size: 1.6rem;
    color: var(--negro-texto);
}
@media(min-width:800px){
    .footer_button{
        width: 240px;
        align-self: center;
        cursor: pointer;
    }
    .footer_button:hover{
        background-color: #fff;
    }
    .footer_button:hover a{
        color: var(--negro-texto)
    }
}