:root{
    --griffindor: #4D0505;
    --yellor-potter: #F3C01B;
    --negro-texto: #2b2b2b;
    --transition-red: #bd0508;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/* estilos header */

.header-container{
    max-width: 1150px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-elements{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
}
.nav-e{
    margin: 15px;
    font-size: 1.3rem;
    color: var(--negro-texto);
    letter-spacing: 2px;
    position: relative;
}
.nav-e:hover{
    color: var(--transition-red);
}
.nav-e::after{
    content: "";
    background-color: var(--transition-red);
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transform: scaleX(0);
    transition: .25s linear;
}
.nav-e:hover::after{
    opacity: .8;
    transform: scaleX(1);
}
.store-button > a{
    padding: 8px 12px;
    border: 2px solid var(--yellor-potter);
    border-radius: 10px;
    background-color: var(--griffindor);
    color: var(--yellor-potter);
    font-size: 1.3rem;
}
.store-button > a:hover{
    border: 2px solid var(--negro-texto);
    background-color: var(--yellor-potter);
    color: var(--griffindor);
}
.open-menu, .close-menu{
    display: none;
}
@media (max-width: 958px){
    .logo{
        margin-left: 15px;
    }
    .nav-elements{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        padding: 80px 0 0 15px;
        max-width: 360px;
        height: 100%;
        align-items: flex-start;
        background-color: #fff;
        overflow-y: auto;
        border-right: 1px solid var(--negro-texto);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    .nav-e{
        margin: 0;
        margin-right: 40px;
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--griffindor);
        letter-spacing: 1px;
        line-height: 35px;
    }
    .store-button{
        margin-bottom: 15px;
    }
    .open-menu, .close-menu{
        display: block;
    }
    .close-menu{
        margin-top: -70px;
        margin-bottom: 70px;
        padding: 0 10px;
        align-self: flex-end;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    .open-menu{
        position: absolute;
        right: 0;
        margin: -47px 15px 0 0;
        padding: 0 10px;
        border-radius: 5px;
        background-color: #fff;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }

}